<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rgb">
      <ion-icon name="color-palette"></ion-icon>
      <ion-label>RGB</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon name="send"></ion-icon>
      <ion-label>Mensaje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alarm">
      <ion-icon name="clock"></ion-icon>
      <ion-label>Reloj</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sensors">
      <ion-icon name="thermometer"></ion-icon>
      <ion-label>Sensores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
